* {
  box-sizing: border-box;
}
p{
  font-size: 14px;
  
}

body {
  margin: 0;
  background-color: #e0e0e0;
  font-family: Bahnschrift;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  background-color: #7facf0;
  z-index: 999; 
  align-items: justify;
  margin-bottom: 12px;
}
a{
    text-decoration:none;
    color:rgb(255, 255, 255);
    text-shadow: black 1px 1px 1px;
}
article h2, h3, p, h4, h1{
    color: black;
}

header .bloques {
  display: inline-block;
  border-radius: 200px;
  margin-right: 150px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;

}

header .bloques:hover{
background-color: #f0f0f0;
padding-left: 20px;
padding-right: 20px;

}

/* barra lateral izquierda */
nav {
  float: left; 
  width: 17%;
  height: 100%;
  background-color: #7facf09a;
  position: fixed;
  
}

/* Cuadro general de la pagina */
article {
  float: left;
  padding-left: 18%;
  padding-right: 1%;
  width: 100%;
  background-color: #ffffff;
}

section {
  margin-top: 70px;
  clear: both;
}

.imagenes{
  width: 140px;
  height: auto;
}

.div-img{
display: inline-block;

}
.div-img img{
float: left;
margin-right: 20px;
}
.so{
width: 100%;
height: 300px;
object-fit: none;
align-self: center;

}
footer{
 position: relative;
}
.piepagina p{
  color: black;

}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.tamañoimagen{

  width: 100px;
  height: auto;
}
.txttabla{

  align-items: center;
}
.txt_arriba{
 color: white;
}
